@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  -webkit-app-region: drag;
}

header button {
  -webkit-app-region: no-drag;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 99.5%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #9ca3af transparent transparent;
}
